.room-page__keyboard {
  margin-top: 1rem;
}

.room-page__keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .room-page__keyboard-button {
      justify-content: center;
      border-radius: 0.5rem;
      margin: 0.5rem;
      padding: 1rem;
      width: 3rem;
      height: 3rem;
  }
}
