.room-page {
    img {
        width: 100%;
        height: 100%;
    }
}

.room-page__header {
    margin-bottom: 1rem;
    text-align: center;

    h1 {
        color: $interactive-01;
    }
}

.room-page__content {
    text-align: center;
}
