.container {
  display: flex;
  flex-direction: column;
  font-family: "Calibri";
  
  font-size: 25px;
  text-align: center;
  justify-content: center;
  padding: 5rem 5rem;
}
.text{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding-top: 40px;
  color:cadetblue;
}
table {
  border-spacing: 1;
  border: 3px solid #0864dd;
}

tr:last-child td {
  border-bottom: 1;
}
th{
  border-right: 1;
  background: #204B57;
  color: #C2B8B2;
}

th,
td {
  margin: 0;
  padding: 1rem;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  font-weight: bold;
}

th:last-child,
td:last-child {
  border-right: 1;
}

tr:nth-child(odd) {
  background: #125E8A;
  color: #ecded5;
}

tr:nth-child(even) {
  background: #197BBD;
  color: #cbb8a9;
}

th.desc {
  border-bottom: 5px solid rgb(136, 136, 255);
}

th.asc {
  border-top: 5px solid orange;
}
