.counter-example {
    text-align: center;
    
    button {
        justify-content: center;
        padding: 1rem;
        margin: 1rem;
        background-color: $interactive-01;
    }
    
    button:hover {
        background-color: $hover-primary-text;
    }
}